@import url('./__container/page__container.css');

.page {
  background: #000;
  margin: 0 auto;
  min-height: 100vh;
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
