.profile__avatar {
  width: 120px;
  height: 120px;
  background: center/cover;
  border-radius: 50%;
  z-index: 2;
  transition: opacity 0.2s ease;
}

.profile__avatar:hover {
  opacity: 0.2;
  z-index: 0;
  cursor: pointer;
}

.profile__avatar:hover ~ .button_type_edit-avatar {
  z-index: 1;
}

@media screen and (max-width: 919px) {
  .profile__avatar {
    margin: auto;
  }
}
