.popup__input {
  padding: 29.74px 0 13.34px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  box-shadow: none;
}

.popup__input:first-of-type {
  padding-bottom: 13.26px;
}

@media screen and (max-width: 919px) {
  .popup__input {
    font-size: 12px;
    line-height: 15px;
    padding: 20px 0 12px;
  }

  .popup__input:first-of-type {
    padding-bottom: 12px;
  }
}
