.button_type_close {
  width: 40.7px;
  height: 40.7px;
  position: relative;
  left: 100%;
  bottom: 40.7px;
  background: transparent url(../../../images/buttons/plus.svg) no-repeat
    center/contain;
  border: none;
  transform: rotate(45deg);
}

.button_type_close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 919px) {
  .button_type_close {
    width: 30px;
    height: 30px;
    left: 100%;
    bottom: 30px;
  }
}
