.button_type_delete {
  width: 18px;
  height: 19.3px;
  background: transparent url('../../../images/buttons/delete.svg') no-repeat
    center/contain;
  border: none;
  float: right;
  margin-top: 18px;
  margin-right: 15px;
  display: block;
}

.button_type_delete:hover {
  opacity: 0.6;
}
