@import url('./__container/popup__container.css');
@import url('./__container/_type/popup__container_type_image.css');
@import url('./__title/popup__title.css');
@import url('./__form/popup__form.css');
@import url('./__form/_type/popup__form_type_delete.css');
@import url('./__input/popup__input.css');
@import url('./__input/_type/popup__input_type_error.css');
@import url('./__figure/popup__figure.css');
@import url('./__image/popup__image.css');
@import url('./__caption/popup__caption.css');
@import url('./__error/popup__error.css');
@import url('./__button/popup__button.css');

.popup {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  visibility: hidden;
  place-items: center;
  opacity: 0;
  transition: visibility 0s ease 0.5s, opacity 0.5s ease;
  transition-delay: 0.5s, 0s;
}
